:root {
  font-family: 'Courier New', monospace;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: transparent;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
